p.borda{
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}

p.margem{
    margin: 100px;
    border-style: dashed;
}

p.propriedade{
    margin: 25px;
    border-style: dotted;
    padding: 20px;
}

p.contorno{
    outline-style: double;
    outline-color: darkred;
    margin: 40px;
    border-style: groove;
    border-color: blueviolet;
}

.imagem{
    width: 30%;
    height: auto;
}

.center{
    text-align: center;
}